<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Fior
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                
             
                <%= link_to "About", about_path, class: 'nav-link' %> 
               
            
                <%= link_to "Flowers", gallery_path, class: 'nav-link' %> 

                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact us</a>
                </li>
              </ul>
            </div>
            <div class="quote_btn-container ">
            <% if @user.blank? %>
            <div style="margin-right:20px;">
            <%= link_to "Register     ", register_path %>
             </div>
             
            <%= link_to "Login    ", login_path %>
            <% end %>

            <% if @user.present? %>
            <%= link_to "Logout", logout_path %> 
            <% end %>
            
              <a href="">
              <%= image_tag ('cart.png') %>
                <img src="images/cart.png" alt="">
              </a>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
           
              
            </div>
           
          </div>
          <% if @user.blank? %>
          <p style="margin-top:16px;font-size:14px;">Welcome you</p>
          <% end %>
          <% if @user.present? %>
          <p style="margin-top:16px;font-size:14px;">Welcome <%= @user.name %></p>
          <% end %>
        </nav>
      </div>
    </header>